server:
  port: 8082

spring:
  application:
    name: reservation-service
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/couchping
    username: ${DB_USERNAME:couchuser}
    password: ${DB_PASSWORD:couchpass}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
