server:
  port: 8082

spring:
  application:
    name: reservation-service
  datasource:
    url: jdbc:mysql://localhost:3306/roomhub_reservation?serverTimezone=Asia/Seoul&useSSL=false
    username: root
    password: 
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
